/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.main-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  background-color: white;
}

.leftBar {
  width: 15%;
  margin-top: 3.5rem;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 1px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-color: lightgray;
  border-style: solid;
  background-color: white;
}

.rightbar {
  scroll-padding-top: -9rem;
  width: 70%;
  margin-left: 15%;
  margin-top: 4rem;
  margin-right: 15%;
  border-right: 1px;
  border-top: 0px;
  border-left: 1px;
  border-bottom: 0px;
  border-color: lightgray;
  border-style: solid;
  background-color: white;
}
