.search-head {
  display: flex;
  justify-content: space-between;
}

.search-parent {
  object-fit: fill;
}
.search-head a {
  padding-right: 0.5rem;
}

.search-page-input {
  display: flex;
  justify-content: space-between;
  padding-right: 0;
  margin-right: 0rem;
}

.search-ask-button {
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0.15rem;
  border-top: 0.3rem;
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  height: 2.1rem;
  text-align: center;
}

.search-ask-button a {
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
  padding-left: 0.2rem;
}

.search-ask-button a:link {
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
}

.search-ask-button a:visited {
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
}

.search-ask-button a:hover {
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
}

.search-ask-button a:active {
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
}

.search-search-button {
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0.15rem;
  border-top: 0.2rem;
  background-color: #1b6ec2;
  border-color: #1861ac;
  font-size: 1.1rem;
  height: 2.1rem;
  margin-bottom: 0.5rem;
  padding-top: 0.1rem;
}

.search-search-button a {
  color: #fff;
  text-decoration: none;
}

.search-search-button a:link {
  color: #fff;
  text-decoration: none;
}

.search-search-button a:visited {
  color: #fff;
  text-decoration: none;
}

.search-search-button a:hover {
  color: #fff;
  text-decoration: none;
}

.search-search-button a:active {
  color: #fff;
  text-decoration: none;
}

.result-question-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid;
  border-bottom: solid;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid rgb(156, 156, 156);
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 0;
  border-left-width: 1px;
  padding: 24px;
  margin: 0;
  padding: 2px;
  max-width: 70vw;
  object-fit: contain;
}

.result-stats-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  object-fit: contain;
  width: 20%;
}

.result-stats {
  height: 75%;
}

.result-views {
  height: 25%;
}

.result-votes {
  display: flex;
  flex-direction: column;
}

.result-answers {
  display: flex;
  flex-direction: column;
}

.result-summary-top {
  display: flex;
  flex-direction: column;
  height: 55%;
}

.result-summary-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 45%;
}

.result-summary {
  padding-left: 0.5rem;
  width: 80%;
  object-fit: contain;
}

.result-question-title {
  color: #1b6ec2;
}

.result-tags {
  color: #1b6ec2;
  background-color: #9dbbd8;
  margin-bottom: 2rem;
  font-size: 0.8rem;
}

.result-question-text {
  font-size: 0.8rem;
  padding-right: 0.3rem;
}

.result-user-and-created {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 3rem;
  margin-top: 2rem;
  font-size: 0.8rem;
}

.container {
  margin-left: 0;
}

.search-field {
  border-radius: 0.15rem;
  padding-bottom: 0.5rem;
}

.result-tags div {
  background-color: #e1ecf4;
  margin: 0rem 0.5rem 0rem 0.5rem;
  padding: 5px 5px;
  height: auto;
  color: #39749e;
}

.result-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e1ecf4;
  margin: 0rem 0.5rem 0rem 0.5rem;
  padding: 5px 5px;
  height: auto;
  color: #39749e;
}

.result-tags div {
  background-color: #e1ecf4;
  margin: 0rem 0.5rem 0rem 0.5rem;
  padding: 5px 5px;
  height: auto;
  color: #39749e;
}

@media (max-width: 800px) {
  .result-question-summary {
    max-height: 9rem;
    object-fit: contain;
    width: 80vw;
  }
  .search-parent {
    min-width: 24.063rem;
  }
  .search-field {
    width: 56vw;
  }
}

@media (min-width: 800px) and (max-width: 1020px) {
  .result-question-summary {
    max-height: 7rem;
    object-fit: contain;
    width: 98vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .result-user-and-created {
    margin-top: 1rem;
  }
  .search-field {
    width: 58vw;
  }

  .result-stats-container {
    font-size: 0.8rem;
  }
}

@media (min-width: 1021px) {
  .result-question-summary {
    max-height: 6rem;
    object-fit: contain;
    width: 98vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 45.625rem;
  }

  .result-user-and-created {
    margin-top: 1rem;
  }
  .search-field {
    width: 62vw;
  }
}
